/* src/components/TaskItem/TaskItem.css */

.help-task {
  background-color: lightyellow; /* Light yellow for Help tasks */
}

.urgent-task {
  background-color: lightcoral; /* Light coral for urgent tasks */
}

.completed-task-checked {
  color: #6c757d; /* Muted color for completed tasks */
}

.eliminating-task {
  opacity: 0.5; /* Dimmed appearance for eliminating tasks (if you use this class) */
}

.taskItem .btn-edit {
  background-color: transparent;
  
}
.icon-droppable-area {
  width: 100%; /* Ensure width is sufficient */
  height: 100px; /* Adjust height as needed */
  overflow: visible; /* Ensure overflow is not hiding content */
  /* Additional styles as needed */
}
