/* UserPage.css */
.user-page {
  padding: 5px;
}

.text-center h1, .text-center p {
  color: #333;
}


.card-header {
  background-color: #0c335e; /* Navy Blue */
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}


.add-task-form,
.team-creation-form {
  border-radius: 8px;
}

.add-task-form .form-group label,
.team-creation-form .form-group label {
  color: #333;
}

.form-group input[type="text"],
.form-group select {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input[type="text"]:focus,
.form-group select:focus {
  box-shadow: none;
}

.btn-board{
  background-color: #dff2f5; /* Light mint green */
  color: #003366; /* Navy blue text */
  border: 1px solid  #003366;
  margin:  2px 8px 8px 8px;
}

.btn-board:hover {
  background-color: #cfe3e8; /* Slightly darker mint green */
  transform: translateY(-2px); /* Subtle lift effect */
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-md-6 {
    margin-bottom: 20px;
  }
}
