/* src/InitialSettings/UserDashboard/UserDashboard.css */

.user-dashboard {
  background: #DBF1FE; /* Light background color for dashboard */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  border-radius: 8x;
  margin: 10px auto;
}


