.comment-bubble {
  position: relative;
  display: inline-block;
}

.comment-bubble .comment-bubble-button {
  background-color: transparent;
  color: 0056b3;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

.comment-bubble .comment-bubble-button:hover {
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.comment-bubble .comment-bubble-content {
  position: relative;
  bottom: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.comment-bubble .comment-bubble-content textarea {
  width: 100%;
  border: none;
  resize: none;
  padding: 5px;
  margin-top: 8px;
}


.comment-bubble .comment-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.comment-bubble .comment-item {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  display: flex;
  justify-content: space-between; /* Space between comment text and delete button */
  align-items: center;
}

.comment-bubble .comment-item button {
  background: none;
  border: none;
  color: #dc3545; /* Red color for delete button */
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
}

.comment-bubble .comment-item button:hover {
  color: #c82333; /* Darker red color on hover */
}



/* Hide textarea and related buttons by default */
.comment-bubble .comment-edit-mode textarea {
  width: calc(100% - 20px); /* Full width minus padding */
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  resize: none; /* Prevent resizing */
}

/* Show textarea and buttons only when editing */
.comment-bubble .comment-edit-mode .btn {
  display: inline-block; /* Show buttons in edit mode */
}

